In [7]:
import pandas as pd
import pickle

In [8]:
df = pd.read_csv('./data/mslr-web10k/Fold1/test.txt', sep=" ", header=None)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,129,130,131,132,133,134,135,136,137,138
0,2,qid:13,1:2,2:0,3:2,4:1,5:2,6:1,7:0,8:1,...,128:1,129:0,130:266,131:25070,132:28,133:7,134:0,135:0,136:0,NaN
1,1,qid:13,1:2,2:0,3:0,4:0,5:2,6:1,7:0,8:0,...,128:93,129:0,130:153,131:12860,132:65,133:158,134:0,135:0,136:0,NaN
2,3,qid:13,1:2,2:0,3:1,4:0,5:2,6:1,7:0,8:0.50000,...,128:0,129:0,130:153,131:1131,132:112,133:141,134:0,135:0,136:0,NaN
3,1,qid:13,1:2,2:0,3:2,4:1,5:2,6:1,7:0,8:1,...,128:81775,129:0,130:560,131:61224,132:1,133:14,134:0,135:0,136:0,NaN
4,0,qid:13,1:1,2:0,3:0,4:0,5:1,6:0.50000,7:0,8:0,...,128:0,129:0,130:57953,131:15600,132:15,133:12,134:0,135:0,136:0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241516,1,qid:29998,1:3,2:0,3:1,4:1,5:3,6:1,7:0,8:0.333333,...,128:9,129:1,130:550,131:49786,132:23,133:102,134:0,135:0,136:0,NaN
241517,1,qid:29998,1:3,2:1,3:0,4:0,5:3,6:1,7:0.333333,8:0,...,128:268,129:0,130:181,131:53904,132:1,133:2,134:0,135:0,136:0,NaN
241518,1,qid:29998,1:3,2:0,3:3,4:0,5:3,6:1,7:0,8:1,...,128:14,129:9,130:4591,131:32817,132:3,133:9,134:0,135:0,136:0,NaN
241519,0,qid:29998,1:3,2:0,3:1,4:1,5:3,6:1,7:0,8:0.333333,...,128:0,129:1,130:1549,131:59332,132:10,133:4,134:0,135:0,136:0,NaN
241520,0,qid:29998,1:3,2:0,3:2,4:0,5:3,6:1,7:0,8:0.666667,...,128:9,129:0,130:1218,131:28505,132:6,133:7,134:0,135:0,136:0,NaN

In [10]:
with open('./data/mslr-web10k/Fold1/test.txt', 'r') as f:
    qid_set = []
    for line in f.readlines():
        qid_num = line.split()[1].split(':')[1]
        qid_set.append(qid_num)

In [11]:
qid_set = list(set(qid_set))
train_set = qid_set[:500]
valid_set = qid_set[500:600]
test_set  = qid_set[600:700]

In [13]:
train_f = open('./data/mslr-web10k/Fold1/train_mini.txt', 'w')
valid_f = open('./data/mslr-web10k/Fold1/vali_mini.txt', 'w')
test_f  = open('./data/mslr-web10k/Fold1/test_mini.txt', 'w')
f = open('./data/mslr-web10k/Fold1/test.txt', 'r')
for line in f.readlines():
    qid_num = line.split()[1].split(':')[1]
    if qid_num in train_set:
        train_f.write(line)
    elif qid_num in valid_set:
        valid_f.write(line)
    elif qid_num in test_set:
        test_f.write(line)
train_f.close()
valid_f.close()
test_f.close()
f.close()